.albumSection {
  padding-top: 8rem;
  color: var(--color-secondary);
}

.albumContent {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.albumData h1 {
  max-width: 15ch;
  margin-bottom: 1rem;
}

.albumData p {
  max-width: 40ch;
  margin-top: 2rem;
}