
:root {
  --white-color: #fff;
  --color-primary: #F5F5F5;
  --color-primary-hover: #A9A9A9; 
  --color-secondary: #171717;
  --transition: .3s;
}

body {
  font-family: var(--font-quick-sand), sans-serif;
  color: var(--color-primary);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2 {
  font-size: 1rem;
  font-weight: normal;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

.font-25 {
  font-size: 1.563rem;
  line-height: 1.5;
}

.font-40 {
  font-size: 2.5rem;
  line-height: 1.1;
  font-weight: 500;
}

.font-72 {
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: 500;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation: fadeInUp var(--transition) ease-out forwards;
  opacity: 0; 
}

.app {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

.main {
  flex: 1;
}

@media(max-width: 1200px) {
  html {
    font-size: 85%;
  }
}

@media(max-width: 400px) {
  html {
    font-size: 70%;
  }
}
