.heroImage {
  background-image: url('../../../public/home/hero.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.heroImage .overlay {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  position: absolute;
}

.heroImage h1 {
  max-width: 15ch;
  text-align: center;
  margin-bottom: 1.25rem;;
}

.heroImage a {
  margin: 0 auto;
}
