.imageContent{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.imageContent img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--color-secondary);
  padding-top: 11.438rem;
  padding-bottom: 11.438rem;
}

.textContent h1 {
  max-width: 15ch;
  margin-bottom: 2.5rem;
}

.textContent a {
  margin: 0 auto;
}