.article {
  border-bottom: solid 0.063rem var(--color-secondary);
}

.article h1 {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.productImageContainer {
  height: 25rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.productImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.productData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



