
.button {
  padding: 0.625rem 1.563rem;
  display: block;
  width: max-content;
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.buttonLight {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.buttonDark {
  background-color: var(--color-secondary);
  color:var(--color-primary);
}

.button:hover {
  transform: scale(1.02);
}

