.header {
  width: 100%;
  position: fixed;
  z-index: 5;
}

.headerContent {
  display: flex;
  gap: 1.875rem;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.mainNav {
  display: flex;
  gap: 1.875rem;
  align-items: center;
}

.mainMenu {
  display: flex;
  gap: 1.875rem;
}

.secondaryMenu {
  display: flex;
  align-items: center;
  gap: 1.563rem;
}

.secondaryMenu svg {
  height: 2.5rem;
  width: 2.5rem;
}

.searchItemNav {
  position: relative;
}

.searchItemNav svg {
  color: var(--color-primary);
  position: absolute;
  left: .313rem;
  bottom: .375rem;
  width: 1.875rem;
  height: 1.875rem;
  color: var(--color-primary);
}

.search {
  background-color: transparent;
  border: none;
  border-bottom: solid 0.063rem var(--color-primary);
  color: var(--color-primary);
  height: 2.5rem;
  padding-left: 2.8rem;
  padding-bottom: .1rem;
  width: 21rem;
}

.search:focus {
  outline: none;
}

.menuIconItemNav {
  display: none;
}

.menuIconItemNav button {
  background: transparent;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
}

@media(max-width: 1100px) {
    .mainNav ul {
      display: none;
  }

  .searchItemNav {
    display: none;
  }

  .menuIconItemNav {
    display: block;
  }
}