.loginSection {
  padding-top: 11rem;
  padding-bottom: 4rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  min-height: 75vh;
}

.loginSection div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginSection h1 {
  margin-bottom: .5rem;
}

.loginSection h2 {
  max-width: 35rem;
  margin-top: 1.5rem;
}

.loginSection p {
  margin-top: .5rem;
}

.loginSection h2 a{
  text-decoration: underline;
}

